/GUI/temperature_log*
/GUI/venv
/DS18B20_CMSIS_1/DebugConfig
/DS18B20_CMSIS_1/Listings
/DS18B20_CMSIS_1/Objects
/DS18B20_CMSIS_1/RTE
/DS18B20_CMSIS_1/*.uvguix.*
/DS18B20_CMSIS_1/*.uvoptx
/DS18B20_CMSIS_1/*.uvprojx
/DS18B20_CMSIS_1/*.scvd